<div id="wholesite">
  <div class="themeSelector">
    {% image "./src/img/moon.png", "enable darkmode" %}
    {% image "./src/img/sun.png", "enable lightmode" %}
  </div>
  <div class="container">
    <div class="hero">
      <div id="plsstop">
        <h1 class="name">
          no
          <span id="strike">hello</span>
        </h1>
      </div>
      <span class="subtitle">{{ _("header.subtitle") }}</span>
      <h2 class="lead">
        {{ _md("header.introduction") }}
      </h2>
    </div>
  </div>

  <div class="container nonos">
    <div class="sections sectionleft">
      <h2 class="section-title">{{ _("example.bad.title") }}</h2>
      <div class="list-card example one">
        <div class="slack">
          {% image "./src/img/keith.png", _("example.character.bad.avatar-description") %}
          <span class="slackname">{{ _("example.character.bad.name") }}</span>
          <span class="slacktime">{{ _("example.bad.message1.timestamp") }}</span><br />
          <span class="slackmessage">{{ _("example.bad.message1.body") }}</span>
        </div>
        <div class="slack">
          {% image "./src/img/tim.png", _("example.character.neutral.avatar-description") %}
          <span class="slackname">{{ _("example.character.neutral.name") }}</span>
          <span class="slacktime">{{ _("example.bad.reply1.timestamp") }}</span><br />
          <span class="slackmessage">{{ _("example.bad.reply1.body") }}</span>
        </div>
        <div class="slack">
          {% image "./src/img/keith.png", _("example.character.bad.avatar-description") %}
          <span class="slackname">{{ _("example.character.bad.name") }}</span>
          <span class="slacktime">{{ _("example.bad.message2.timestamp") }}</span><br />
          <span class="slackmessage">{{ _("example.bad.message2.body") }}</span>
        </div>
        <div class="slack">
          {% image "./src/img/tim.png", _("example.character.neutral.avatar-description") %}
          <span class="slackname">{{ _("example.character.neutral.name") }}</span>
          <span class="slacktime">{{ _("example.bad.reply2.timestamp") }}</span><br />
          <span class="slackmessage">{{ _("example.bad.reply2.body") }}</span>
        </div>
      </div>
    </div>
    <div class="sections sectionright">
      <div class="list-card">
        <div>
          {{ _mdp('example.bad.body', currentYear) }}
        </div>
      </div>
    </div>
  </div>
  <div class="container yepyep">
    <div class="sections sectionleft">
      <h2 class="section-title yepyep">{{ _("example.good.title") }}</h2>
      <div class="list-card example two">
        <div class="slack">
          {% image "./src/img/dawn.png", _("example.character.good.avatar-description") %}
          <span class="slackname">{{ _("example.character.good.name") }}</span>
          <span class="slacktime">{{ _("example.good.message1.timestamp") }}</span><br />
          <span class="slackmessage">{{ _("example.good.message1.body") }}</span>
        </div>
        <div class="slack">
          {% image "./src/img/tim.png", _("example.character.neutral.avatar-description") %}
          <span class="slackname">{{ _("example.character.neutral.name") }}</span>
          <span class="slacktime">{{ _("example.good.reply1.timestamp") }}</span><br />
          <span class="slackmessage">{{ _("example.good.reply1.body") }}</span>
        </div>
        <div class="slack">
          {% image "./src/img/dawn.png", _("example.character.good.avatar-description") %}
          <span class="slackname">{{ _("example.character.good.name") }}</span>
          <span class="slacktime">{{ _("example.good.message2.timestamp") }}</span><br />
          <span class="slackmessage">{{ _("example.good.message2.body") }}</span>
        </div>
        <div class="slack">
          {% image "./src/img/tim.png", _("example.character.neutral.avatar-description") %}
          <span class="slackname">{{ _("example.character.neutral.name") }}</span>
          <span class="slacktime">{{ _("example.good.reply2.timestamp") }}</span><br />
          <span class="slackmessage">{{ _("example.good.reply2.body") }}</span>
        </div>
      </div>
    </div>
    <div class="sections sectionright">
      <div class="list-card">
        <div>
          {{ _mdp('example.good.body') }}
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>
      {{ _md('footer.note') }}
    </p>
    <p>
      {{ _md('footer.warning') }}
    </p>
    <p>
      {{ _md('footer.thanks') }}
    </p>
    <p>
    </p>

    <section class="other-languages">
      <p>
        {{ _('footer.languages') }}
      </p>

      <ul>
      {% for locale in locales %}
        <li
          ><a
            href="{%- relocalizePath locale.path, page.url -%}"
            class="lang-chooser"
            data-lang="{{ locale.path }}"
            hreflang="{{ locale.path }}"
          >{{ locale.name }}</a
        ></li>
      {% endfor %}
      </ul>
    </section>

    <script>
      const langChoosers = document.querySelectorAll('.lang-chooser');

      for (const langChooser of langChoosers) {
        const lang = langChooser.dataset.lang;

        langChooser.addEventListener('click', (evt) => {
          localStorage.setItem('lang', lang);
        });
      }
    </script>
  </footer>
</div>

<div id="preloadimg"></div>

<style type="text/css">
#preloadimg.now {
  background: url({%- imageURL "./src/img/why.gif", { format: "webp", animated: true } -%}) no-repeat -9999px -9999px;
}
</style>

<script>
whyyyyy = "url('{%- imageURL "./src/img/why.gif", { format: "webp", animated: true } -%}')"
</script>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src="/js/nohello.js"></script>
<script src="/js/hello.js"></script>
<script src="/js/theme.js"></script>
